.vscode

/Intro to computational thinking - JetBrains Academy — Learn programming by building your own apps_files/

Components of computational thinking - JetBrains Academy — Learn programming by building your own apps.html
/Introduction to OOP - JetBrains Academy — Learn programming by building your own apps_files
/
Introduction to OOP - JetBrains Academy — Learn programming by building your own apps.html
Intro to computational thinking - JetBrains Academy — Learn programming by building your own apps.html
/Components of computational thinking - JetBrains Academy — Learn programming by building your own apps_files
/
script.js
.gitignore
.gitattributes
.pdf
README.md
.idea

.git
/ico