.vscode

/Intro to computational thinking - JetBrains Academy — Learn programming by building your own apps_files/

Components of computational thinking - JetBrains Academy — Learn programming by building your own apps.html
/Introduction to OOP - JetBrains Academy — Learn programming by building your own apps_files
/
Introduction to OOP - JetBrains Academy — Learn programming by building your own apps.html
Intro to computational thinking - JetBrains Academy — Learn programming by building your own apps.html
/Components of computational thinking - JetBrains Academy — Learn programming by building your own apps_files
/Flexbox
script.js
node_modules/
.pdf
.idea

.git
/ico