textarea {
  width: 100%;
  padding: 12px 20px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  background-color: #f8f8f8;
  resize: none;
}

button {
  background-color: white;
  border: solid 2px;
  padding: 16px 32px;
  margin: 15px 50px 2px 20px;
  transition-duration: 0.5s;
}

h1 {
  position: relative;
  left: 40%;
}

.send {
  border-color: #4caf50;
}

.clear {
  border-color: #e91313da;
}

.send:hover {
  cursor: pointer;
  background-color: #4caf50;
  color: white;
}

.clear:hover {
  cursor: pointer;
  background-color: #e91313da;
  color: white;
}
