<<<<<<< HEAD
.left-panel {
    min-width: 400px;
    display: flex;
    flex-direction: column;
    gap: 30px;
=======
.left-panel {
    min-width: 400px;
    display: flex;
    flex-direction: column;
    gap: 30px;
>>>>>>> 74b09b3caf063b2ee6a3d512777f0af827501a7a
}